@import url(modern-normalize.css);

:root {
  line-height: 1.5;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
}

* {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:root {
  --dark-gray: #202026;
  --medium-gray: #616368;
  --lighter-gray: #9c9c9c;
  --dark-blue-gray: #3c4048;
  --blue-gray: #414157;
  --light-blue-gray: #e6eef9;
  --terracotta-red: #a74636;
  --light-blue-green: #d8ede7;
  --dim-blue-green: #c8dcd7;
}

body {
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.todo-list {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

.todo-item,
.todo-form {
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  padding: 0.75rem 1rem;
}

.todo-item {
  border: 1px solid var(--blue-gray);
  gap: 1.5rem;
}

.todo-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.todo-button {
  max-width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.todo-button:hover {
  transform: scale(1.1);
}

.todo-button:active {
  transform: scale(1);
}

.todo-form {
  border: 1px solid var(--blue-gray);
  flex-direction: column;
  gap: 0.5rem;
}

.todo-content-wrapper,
.todo-form-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.todo-title {
  font-weight: bold;
  font-size: 1rem;
  color: var(--light-blue-green);
}

.todo-description,
.todo-datetime {
  color: var(--dim-blue-green);
}

.todo-description {
  font-size: 0.6rem;
}

.todo-datetime {
  font-size: 0.8rem;
}

.todo-form-title,
.todo-form-description,
.todo-form-datetime {
  outline: none;
  border: none;
  background-color: var(--dark-gray);
  color: var(--light-blue-green);
}

.todo-form-title {
  font-weight: bold;
  font-size: 1rem;
}

.todo-form-description {
  resize: none;
  overflow-y: hidden;
  min-height: 0.6rem;
  height: 0.9rem;
  font-size: 0.6rem;
}

.todo-form-datetime-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: relative;
  font-size: 0.8rem;
  color: var(--dim-blue-green);
}

.todo-form-datetime-icon {
  max-width: 1.6rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.todo-form-datetime-icon:hover {
  transform: scale(1.1);
}

.todo-form-datetime-icon:active {
  transform: scale(1);
}

.todo-form-datetime-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  opacity: 0;
  z-index: -1;
}

.todo-form-button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--dark-blue-gray);
}

.todo-form-button {
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  background-color: var(--terracotta-red);
  color: var(--dim-blue-green);
  transition: transform 0.1s ease-in-out;
}

.todo-form-button:hover {
  transform: scale(1.05);
}

.todo-form-button:active {
  transform: scale(1);
}

.hidden {
  display: none;
}

.todo-completed {
  background-color: #072a07;
}